﻿@{
    ViewBag.Title = "Print PDF";
}

<div class="jumbotron">
    <h1>Welcome print your certs here</h1>
    <p class="lead">Print PDF <a href="Home/PrintCert"><i class="fa fa-book" aria-hidden="true"></i></a></p>
    <p></p>
</div>

